pkgbase = python-sphinx-lint
	pkgdesc = Check for stylistic and formal issues in .rst and .py files included in the documentation.
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/sphinx-contrib/sphinx-lint
	arch = any
	license = PSF
	makedepends = python-build
	makedepends = python-hatch-vcs
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-regex
	depends = python-polib
	source = https://files.pythonhosted.org/packages/source/s/sphinx-lint/sphinx_lint-1.0.0.tar.gz
	sha256sums = 6eafdb44172ce526f405bf36c713eb246f1340ec2d667e7298e2487ed76decd2

pkgname = python-sphinx-lint
